.app {
  text-align: center;
}

.player-names {
  display: flex;
  justify-content: center;
}

.win-stats {
  display: grid;
  grid-template-rows: auto;
  height: 48px;
  font-weight: bold;
}

.player-a-wins {
  background-color: green;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
}

.draws {
  background-color: grey;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-b-wins {
  background-color: red;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
}
