.app {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  min-height: 100vh;
  width: 100vw;
}

.navigation {
  display: grid;
  grid-template-columns: max-content max-content max-content 1fr;
  gap: 24px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: #007bff;
}

.game-stats {
  padding: 12px;
  width: 100%;
}

.win-stats {
  display: grid;
  grid-template-rows: auto;
  height: 48px;
  font-weight: bold;
}

.p1-wins {
  background-color: green;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  border-radius: 12px 0 0 12px;
}

.p2-wins {
  background-color: red;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
  border-radius: 0 12px 12px 0;
}

.auto-play-controls {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 12px;
  margin-top: 12px;
}

.game-dialog-container {
  display: grid;
  place-items: center;
  z-index: 1;
  grid-area: 1 / 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.game-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 24px;
}

.player-display-container {
  display: grid;
  align-items: center;
}

.board-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  grid-area: 1 / 2;
}

.cell {
  border: 1px solid black;
  box-sizing: border-box;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.piece {
  aspect-ratio: 1;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 50%;
  box-sizing: border-box;
}

.draggable {
  cursor: grab;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: 1fr;
  gap: 12px;
}

.player-display {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 18px;
  gap: 18px;
  box-sizing: border-box;
  border: 4px solid transparent;
  transition: all 0.2s ease;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  place-items: center;
}

.player-name {
  margin: 0;
}

.player-strategy {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.active {
  background-color: #d1e5fa;
  border: 4px solid #007bff;

  & .player-name {
    color: #007bff;
  }
}

.player-inventory {
  display: grid;
  place-items: center;
  gap: 8px;
}

.piece-shadow {
  aspect-ratio: 1;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.1);
}
