.app {
  text-align: center;
}

.player-names {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.win-stats {
  display: grid;
  grid-template-rows: auto;
  height: 48px;
  font-weight: bold;
}

.player-a-wins {
  background-color: green;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
}

.draws {
  background-color: grey;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}

.player-b-wins {
  background-color: red;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
}

.board-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  border: 1px solid black;
  box-sizing: border-box;
}
